h1 {
  color: green;
  text-align: center;
}

h3 {
  font-style: italic;
  text-align: left;
}

li {
  font-size: 12px;
  line-height: 20px;
}

p.intro {
  color: green;
  font-style: italic;
  font-family: verdana;
  font-weight: bold;
  text-align: center;
}
